<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>پشتیبانی از فیلم‌های آپارات</name>
	<key>iisaparatsupport</key>
	<description>امکان اضافه کردن ویدیو از وب‌گاه آپارات و دریافت اطلاعات ویدیو با وارد کردن آدرس ویدیو</description>
    <author>Issa Annamoradnejad</author>
    <authorEmail>i.moradnejad@gmail.com</authorEmail>
	<authorUrl>http://shub.ir</authorUrl>
	<developerKey>1</developerKey>
    <build>10814</build>
	<copyright>All rights reserved.</copyright>
	<license>shub.ir</license>
	<licenseUrl>http://shub.ir</licenseUrl>
	<category>
		<item>essential</item>
        <item>published</item>
	</category>
</plugin>
