<?xml version="1.0" encoding="utf-8"?>

<plugin>
    <name>نمایشگر میزان قدرت گذرواژه</name>
    <key>iispasswordstrengthmeter</key>
    <description>نمایش میزان قدرت گذرواژه کاربران در لحظه واردکردن گذرواژه و عدم توانایی ذخیره گذرواژه‌ای، ضعیف‌تر از میزانی که مدیر مشخص کرده است.</description>
    <author>Yaser Alimardany</author>
    <authorEmail>yaser.alimardany@gmail.com</authorEmail>
    <authorUrl>http://shub.ir</authorUrl>
    <developerKey>1</developerKey>
    <build>10803</build>
    <copyright>All rights reserved.</copyright>
    <license>shub.ir</license>
    <licenseUrl>http://shub.ir</licenseUrl>
    <category>
        <item>essential</item>
        <item>published</item>
    </category>
    <plan>2</plan>
</plugin>
