<div class="questions-add clearfix">
    {form name="add_option_form"}
    <div class="form_auto_click">
        <div class="questions-add-question">
            {input name="option"}
            {input name='questionId'}
        </div>
            <div class="clearfix qa-submit-c ow_border">
                <div class="ow_right eq-save-c">
                    <span class="ow_attachment_btn">{submit name="save"}</span>
                </div>
                <div class="ow_inprogress eq-status-preloader EQ_StatusPreloader"></div>
            </div>
    </div>
    {/form}
</div>