<div class="owm_blank_content owm_std_margin_top">
	<div class=" owm_login_protection_image">

	</div>
	<div class="owm_login_txt">
		<!--{text key='base+password_protection_cap_label'}-->
		{text key='base+password_protection_mobile_txt'}
	</div>
	{form name='password_protection'}
	<div class="owm_login_field owm_login_pass">
		{input name='password' placeholder={text key='base+password_protection_placeholder'}}
	</div>
	<div class="owm_btn_wide owm_btn_positive owm_std_margin_top">
		{submit name='submit'}
	</div>
	{/form}
</div>
