<div class="ow_automargin ow_superwide">
    {form name='form'}
    <table class="ow_table_1 ow_form">
        <tr class="{cycle name="rm" values="ow_alt1,ow_alt2"}">
        <td class="ow_label">{label name='newsfeed_order_list'}</td>
        <td class="ow_value">{input name='newsfeed_order_list'}</td>
        </tr>
        <tr class="ow_alt2">
            <td class="ow_label">{label name='allow_sort'}</td>
            <td class="ow_value">{input name='allow_sort'}</td>
        </tr>
    </table>
    <div class="clearfix ow_stdmargin">
        {submit name='save' class='ow_ic_save ow_submit ow_right'}
    </div>
    {/form}
</div>