<?xml version="1.0" encoding="utf-8"?>

<plugin>
	<name>اخبار</name>
	<key>iisnews</key>
	<description>از طریق این افزونه مدیران سامانه می‌توانند آخرین اخبار را به اطلاع کاربران برسانند.</description>
	<author>Yaser Alimardany</author>
	<authorEmail>yaser.alimardany@gmail.com</authorEmail>
	<authorUrl>http://shub.ir</authorUrl>
	<developerKey>1</developerKey>
	<build>10895</build>
	<copyright>All rights reserved.</copyright>
	<license>shub.ir</license>
	<licenseUrl>http://shub.ir</licenseUrl>
	<category>
		<item>essential</item>
        <item>published</item>
	</category>
</plugin>
