<?xml version="1.0" encoding="utf-8"?>
<plugin>
    <name>تاریخ تولد کاربران</name>
    <key>birthdays</key>
    <description>فهرستی از تاریخ‌های پیش‌رو تولد کاربران را در صفحه داشبورد کاربر نمایش می‌دهد. همچنین، با ابزارکی درون صفحه نمایه،  تاریخ تولد کاربر از چند روز قبل قابل مشاهده است.</description>
    <author>Oxwall Foundation</author>
    <authorEmail>plugins@oxwall.org</authorEmail>
    <authorUrl>http://www.oxwall.org/foundation</authorUrl>
    <developerKey>e547ebcf734341ec11911209d93a1054</developerKey>
    <build>9625</build>
    <copyright>(C) 2009 Oxwall Foundation. All rights reserved.</copyright>
    <license>The BSD License</license>
    <licenseUrl>http://www.opensource.org/licenses/bsd-license.php</licenseUrl>
    <category>
        <item>essential</item>
        <item>published</item>
    </category>
    <plan>2</plan>
</plugin>
