
{if !empty($extra_component)}
{$extra_component}
{/if}

{if  isset($options)}
<div class="category_section">
    <select id="newsfeed_select_order" onchange="changeNewsfeedOrders()">
        {foreach $options item="option"}
        <option value={$option.value} {if isset($option.selected)} selected="selected"{/if}>{$option.text}</option>
        {/foreach}
    </select>
</div>
{/if}

<div {if count($feed)}style="display: none;"{/if} class="owm_newsfeed_nocontent ow_nocontent">{text key="newsfeed+empty_feed_message"}</div>
{foreach from=$feed item=item name=feed}
    {newsfeed_item action=$item lastItem=$smarty.foreach.feed.last}
{/foreach}