{if $auth_msg}
<div class="owm_padding">
    <div class="owm_info owm_anno">{$auth_msg}</div>
</div>
{else}
<div class="owm_list_item_view_title clearfix owm_nav_cap owm_nav_cap_left_cont owm_nav_cap_right_cont owm_bg_color_3 owm_border">
    <div class="owm_float_left">
        <a class="owm_nav_cap_left" href="javascript:window.history.back();"></a>
    </div>
    <h4>
        {text key="base+back"}
    </h4>
</div>
<div class="owm_upload_photo">
    {form name='upload-form'}
    <div class="owm_upload_photo_browse_wrap clearfix owm_bg_color_3">
        <div class="owm_upload_photo_left_label">
            <span class="owm_upload_choose_label"><span>{text key='photo+mobile_choose_photo'}</span></span>
            <span class="owm_upload_replace_label"><span>{text key='photo+mobile_replace_photo'}</span></span>
        </div>
        <div class="owm_upload_photo_btn">
            <a class="owm_upload_photo_choose_btn" href="javascript://"><input type="file" name='photo' accept='image/*' id='upload-file-field'></a>
        </div>
    </div>
    <div id="imagesDiv" class="owm_full_page_form owm_create_group ow_superwide ow_automargin">

    </div>
    <div class="owm_upload_photo_album_wrap owm_input_wrap">
        <div class="owm_fake_input">
            {if $albums}
            <div class="owm_choose_album owm_float_right">
                {text key='photo+choose_album'}
                <select id="album_select">
                    <option value="" data-id="create_new_photo_album_in_album_select">{text key='photo+create_new_album'}</option>
                    <option value="" disabled="disabled" selected="selected">{text key='photo+choose_album'}</option>
                    {foreach from=$albums item='a' name='album'}<option value="{$a.dto->name}">{$a.dto->name}</option>{/foreach}
                </select>
            </div>
            {/if}
            {input name='album'}
        </div>
    </div>
    <div class="owm_upload_photo_btn_wrap clearfix owm_input_wrap">
        {*submit name='cancel' class='owm_float_left'*}
        {submit name='submit' class='owm_float_right'}
    </div>
    {/form}
</div>
{/if}