{if empty($list)}
<div class="ow_anno ow_stdmargin ow_center ow_ic_warning">{text key="base+empty_list"}</div>
{else}
{foreach from=$list item='post'}
{assign var=dto value=$post.dto}
{*-- decorator data*}
{assign var=userId value=$dto->getAuthorId()}

{capture assign='info_string'}
<a href="{$post.url}">{$dto->getTitle()}</a>
{/capture}

{capture assign='content'}
{$post.text}{if $post.showMore}... <a class="ow_lbutton" href="{$post.url}">{text key='base+more'}</a>{/if}
{/capture}
{assign var='id' value=$dto->getId()}

{*~~ decorator data*}
{decorator name='ipc' infoString=$info_string addClass="ow_stdmargin" content=$content toolbar=$post.toolbar data=$post avatar=$post.avatars[$userId]}
{/foreach}
{if $paging}<center>{$paging}</center>{/if}
{/if}

