<div class="owm_forum_page">
    {component class="FORUM_MCMP_ForumSearch"}
    {component class="FORUM_MCMP_ForumSection"}
    {if isset($extendedText)}
    <div class="ow_smallmargin">
        {$extendedText}
    </div>
    {/if}
    {if $addTopic}
        {script}
            {if $canEdit}
                // show the topic form
                OWM.ajaxFloatBox("FORUM_MCMP_ForumAddTopic", [], {
                    "title" : "{text key='forum+create_new_topic'}"
                });
            {elseif $promotion.status == 'promoted'}
                OWM.error('{$promotion.msg|escape:quotes}');
            {/if}
        {/script}
    {/if}
</div>
