<div class="owm_nav_cap owm_nav_cap_left_cont owm_bg_color_3 owm_border clearfix">
    <div class="owm_float_left">
        <a class="owm_nav_cap_left" href="javascript:window.history.back();"></a>
    </div>
    <h3> {text key="base+back"}</h3>
</div>

<div class="owm_box" style="min-height: 300px;">
    <div id="iisadvancedsearch_search_all_users">
        <div class="owm_form_field_wrap owm_box_cap">
            <div class="owm_form_field_label">{text key='iisadvancesearch+search_title'}</div>
            <div class="owm_form_field_value"><input type="text" class="ow_text" placeholder="{text key='iisadvancesearch+search_username_realname'}" /></div>
        </div>
        <div class="owm_avatar_list iisadvancesearch_results"></div>
        <div class="ow_nocontent" style="display: none">{text key="base+no_items"}</div>
        <div class="owm_user_list_preloader owm_preloader" style="visibility: hidden; display: none;"></div>
    </div>
</div>