<table id="new_table_rows" class="ow_table_1 ow_form" style="width: 100%;" cellpadding="5">
    {foreach from=$list item='image' name='image'}

    <tr class="{cycle name="1" values='ow_alt1, ow_alt2'}" onclick="showHideMedia({$image.id});">
    <td class="mediapanel_album_heading">
        <div class="mediapanel_album_heading_img">
            <img src="{$image.bigUrl}"/>
        </div>
        <span id="gimg-{$image.id}-visbtn" class="ow_lbutton clearfix">{text key='base+mp_gal_show'}</span>
    </td>
    </tr>
    <tr class=" {cycle name="2" values='ow_alt1, ow_alt2'}" id="gimg-{$image.id}" style="display: none">
    <td align="center">
        <table class="ow_form ow_table_1">
            <tr class="ow_tr_first">
                <td class="ow_label">{text key='base+mp_gal_pic_url'}</td>
                <td class="ow_value">
                    <input id="gimg-{$image.id}-url" readonly="readonly" value="{$image.bigUrl}" type="text" />
                </td>
            </tr>
            <tr>
                <td class="ow_label">{text key='admin+size'}</td>
                <td class="ow_value">
                    <input type="radio" name="pos-{$image.id}" checked="checked" id="gimg-{$image.id}-p" value="preview" /> <label for="gimg-{$image.id}-p">{text key='base+mp_gal_preview'}</label>
                    <input type="radio" name="pos-{$image.id}" id="gimg-{$image.id}-f" value="fullsize"/> <label for="gimg-{$image.id}-f">{text key='base+mp_gal_fullsize'}</label>
                </td>
            </tr>
            <tr class="ow_tr_last">
                <td class="ow_label">{text key='base+mp_gal_align'} </td>
                <td class="ow_value">
                    <select id="gimg-{$image.id}-align">
                        <option value="none">{text key='base+mp_gal_none'}</option>
                        <option value="left">{text key='base+mp_gal_left'}</option>
                        <option value="center">{text key='base+mp_gal_center'}</option>
                        <option value="right">{text key='base+mp_gal_right'}</option>
                    </select>
                </td>
            </tr>
        </table>

        <div class="clearfix"><div class="ow_right">
            {assign var="size" value="[]"}

            {decorator name="button" langLabel='base+mp_gal_ins_into_post' onclick="insImg('`$elid`', `$image.id`,  '`$image.bigUrl`', $size)"}
        </div></div>
    </td>
    </tr>
    {/foreach}
</table>
<script>
    $('#show_more_btn').show();
    var  Result = $('#new_table_rows').html();
    $('.photo_list_result_div').html('');
    $('#allPhotos').append( Result);
</script>
