{if !$no_content}
<div class="clearfix">
    {assign var='alt1' value=true}
    {assign var='cnt' value=0}

    {foreach from=$clips item='clip' name='c'}


    {assign var='cnt' value=$cnt+1}

    {assign var='userId' value=$clip.userId}

    {if $cnt == 1}
    <div class="clearfix {if $alt1}ow_alt1{else}ow_alt2{/if}">
        {/if}
        {if isset($tags[$clip.id])}
        {decorator name='mobile_video_list_item'
        data=$clip
        username=$usernames[$userId]
        displayName=$displayNames[$userId]
        tags = $tags[$clip.id]
        }
        {else}
        {decorator name='mobile_video_list_item'
        data=$clip
        username=$usernames[$userId]
        displayName=$displayNames[$userId]
        }
        {/if}



    {/foreach}
</div>
</div>
{else}
<div class="ow_nocontent">{$no_content}</div>
{/if}