table.password_strength_meter td{
    width: 20%;
    border-color: #CCD6DE;
    border-width: 1px !important;
    padding: 1px;
    text-align: center;
    color: #5B646A;
    border-style: solid;
}
/*  Mobile view styles */
.owm_field_container table.password_strength_meter td{
    width: 24%;
}
.owm_field_container table.password_strength_meter_information {
    display: inherit;
}
/* End of Mobile view styles */

table.password_strength_meter_information td {
    border-color: #CCD6DE;
    border-width: 1px !important;
    border-style: solid;
}

table.password_strength_meter_information td{
    text-align: center;
}

table.password_strength_meter_information{
    margin-bottom: 10px;
}

table.password_strength_meter, table.password_strength_meter_information, .password_strength_meter_div, .password_strength_meter_parent{
    width: 100%;
}

#secure_password_information{
    text-decoration: none;
}

ul.secure_password_list li {
    list-style: decimal;
}

#secure_password_minimum_strength_type{
    font-size: 12px;
    color: #5B646A;
}

ul.secure_password_list {
    margin: 10px;
}