<?xml version="1.0" encoding="utf-8"?>
<plugin>
    <name>گروه پلاس</name>
    <key>iisgroupsplus</key>
    <description>     امکانات جدیدی مانند دسته بندی گروه ها و جستجوی گروه به افزونه گروه اضافه شده است</description>
    <author>Mohammad Agha Abbasloo</author>
    <authorEmail>a.mohammad85@gmail.com</authorEmail>
    <authorUrl>http://shub.ir</authorUrl>
    <developerKey>1</developerKey>
    <build>10879</build>
    <copyright>All rights reserved.</copyright>
    <license>shub.ir</license>
    <licenseUrl>http://shub.ir</licenseUrl>
    <category>
        <item>essential</item>
        <item>published</item>
    </category>
</plugin>