<?xml version="1.0" encoding="utf-8"?>
<plugin>
    <name>مدیریت ابزارک‌ها</name>
    <key>iiswidgetplus</key>
    <description> امکان باز و بسته کردن ابزارک‌ها و تنظیم نمایش یا عدم نمایش ابزاک امتیاز به کاربران مهمان</description>
    <author>Milad Heshmati</author>
    <authorEmail>milad.heshmati@gmail.com</authorEmail>
    <authorUrl>http://www.iiscenter.ir</authorUrl>
    <developerKey>1</developerKey>
    <build>10845</build>
    <copyright>(C) 2016 IIS center. All rights reserved.</copyright>
    <license>shub.ir</license>
    <licenseUrl>http://shub.ir</licenseUrl>
    <category>
        <item>essential</item>
        <item>published</item>
    </category>
</plugin>
