{if !empty($authErrorText)}
<div class="ow_anno ow_center">
    {$authErrorText}
</div>
{else}
<div class="owm_nav_cap owm_nav_cap_left_cont owm_nav_cap_right_cont owm_bg_color_3 owm_border clearfix">
    <div class="owm_box_heading_btns events_mobile">
        {if !empty($inviteLink)}
            {decorator name='button' class='ow_ic_add inviteLink' type='button' langLabel='event+invite_btn_label' id='inviteLink'}
        {/if}
        {if !empty($editArray)}
        <a class="owm_btn_class_3 delete_link event_mobile" href="{$editArray.delete.url}" onclick="return confirm('{$editArray.delete.confirmMessage}');" style="display: inline-block;">{$editArray.delete.label}</a>
        <a class="owm_btn_class_2 edit_link event_mobile" href="{$editArray.edit.url}" style="display: inline-block;">{$editArray.edit.label}</a>
        {/if}
        {if !empty($leaveArray)}
        <a class="owm_btn_class_2 leave_link event_mobile" href="{$leaveArray.leave.url}" onclick="return confirm('{$leaveArray.leave.confirmMessage}');" style="display: inline-block;">{$leaveArray.leave.label}</a>
        {/if}
    </div>
    <div class="owm_float_left">
        <a class="owm_nav_cap_left" href="{$urlForBack}"></a>
    </div>
    <h3>
        {text key='event+back'}
    </h3>
</div>

<div class="ow_superwide owm_events_view">
    <div class="owm_box">
        <div class="owm_events_view_header clearfix">
            <div class="owm_events_view_additional_info owm_float_right clearfix" id="{$contId}">
                {if empty($no_attend_form) && $info.moderationStatus == 1}
                <div class="attend_buttons">
                    <div class="current_status"><span class="status">{if !empty($currentStatus)}{$currentStatus}{/if}</span> <span class="link"{if empty($currentStatus)} style="display:none;"{/if}>(<a href="javascript://">{text key='event+current_status_change_label'}</a>)</span></div>
                    <div class="buttons" {if !empty($currentStatus)} style="display:none;"{/if} >
                    {form name='event_attend'}
                    <div class="owm_small_margin_top">
                        {submit name="submit" langLabel='event+attend_yes_btn_label' id='event_attend_yes_btn'}
                        {submit name="submit" langLabel='event+attend_maybe_btn_label' id='event_attend_maybe_btn'}
                        {submit name="submit" langLabel='event+attend_no_btn_label' id='event_attend_no_btn'}
                    </div>
                    {/form}
                    </div>
                </div>
                {/if}
            </div>

            <div class="owm_events_view_additional_info owm_float_left clearfix">
                <div>
                    <span class="owm_item_info_label">{text key='event+view_page_date_label'}: </span>
                    <span class="owm_item_info_value">{$info.date}</span>
                </div>
                {if !empty($info.endDate)}
                <div>
                    <span class="owm_item_info_label" style="width: 25%">{text key='event+view_page_end_date_label'}: </span>
                    <span class="owm_item_info_value">{$info.endDate}</span>
                </div>
                {/if}
                <div>
                    <span class="owm_item_info_label" style="width: 25%">{text key='event+view_page_location_label'}: </span>
                    <span class="owm_item_info_value">{$info.location}</span>
                </div>
                <div>
                    <span class="owm_item_info_label" style="width: 25%">{text key='event+view_page_created_label'}: </span>
                    <span class="owm_item_info_value"><a href="{$info.creatorLink}">{$info.creatorName}</a></span>
                </div>
                {if !empty($info.categoryLabel)}
                <div>
                   <span class="owm_item_info_label" style="width: 25%">{text key='iiseventplus+view_category_label'}</span>
                      <span class="owm_item_info_value">{$info.categoryLabel}</span>
                </div>
                {/if}
            </div>
        </div>

        {block_decorator name='box' type='empty' iconClass='ow_ic_picture' langLabel='' addClass=" ow_std_margin clearfix"}
        {if !empty($info.image)}<div class="clearfix" style="padding: 15px"><img src="{$info.image}" alt="{$info.title|escape}" style="float: right;margin: 5px;max-width:100%" /></div>{/if}
        {$info.desc}
        {/block_decorator}
    </div>

    {if isset($eventFileList)}
        {block_decorator name='box'
        capEnabled=$fileBoxInformation.show_title
        iconClass=$fileBoxInformation.icon
        label=$fileBoxInformation.title
        capAddClass="ow_dnd_configurable_component clearfix"
        type=$fileBoxInformation.type
        addClass="owm_view_file_list ow_stdmargin clearfix"}
        <div class="owm_box_body owm_box_cap" style="padding: 10px;">
            {$eventFileList}
        </div>
        <div class="owm_box_toolbar">
            {if isset($view_all_files)}
            <span class="ow_nowrap">
                            {if isset($view_all_files.href)}<a href="{$view_all_files.href}">{/if}
                            {$view_all_files.label}
                            {if isset($view_all_files.href)}</a>{/if}
                    </span>
            {/if}
        </div>
        {/block_decorator}
    {/if}

    <div class="owm_events_view_userList" style="text-align: center;">{$userListCmp}</div>

    {add_content key='socialsharing.get_sharing_buttons' title=$info.title description=$info.desc image=$info.image entityType='event' entityId=$info.id}
    {add_content key='events.view.content.between_description_and_wall' eventId=$info.id}

    {if !empty($comments)}
        <div class="owm_box owm_event_comments {if isset($iismenu_active)} iismenu-active {/if}">{$comments}</div>
    {/if}

</div>
{/if}
{add_content key='events.content.view.bottom' eventId=$info.id}

