<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>دوستان پلاس</name>
	<key>iisfriendsplus</key>
	<description>
        این افزونه ارتباط بین کاربران را مدیریت کرده و امکان ارتباط برخی نقش‎‌ها با تمامی افراد را فراهم می‌کند.
    </description>
    <author>Yaser Alimardany</author>
    <authorEmail>yaser.alimardany@gmail.com</authorEmail>
    <authorUrl>http://shub.ir</authorUrl>
    <developerKey>1</developerKey>
    <build>10804</build>
    <copyright>All rights reserved.</copyright>
    <license>shub.ir</license>
    <licenseUrl>http://shub.ir</licenseUrl>
    <category>
        <item>essential</item>
        <item>published</item>
    </category>
</plugin>
