<div class="ow_group_files_list ow_lp_avatars">
    <ul class="ow_box_toolbar ow_remark ow_bl">
        <li>
            <a href="{$backUrl}">{text key="iisgroupsplus+back"}</a>
        </li>
        {if isset($showAdd) && $showAdd==true}
        <li>
            <a href="javascript:showUploadFileIntoGroupForm({$groupId})">
                {text key="iisgroupsplus+add_file"}
            </a>
        </li>
        {/if}
        <li class="ow_group_files_list button">
            <a id="original-search-group-files" href="{$search_url}" style="display: none"></a>
            <a href="javascript:searchGroupFiles();">{text key="iisgroupsplus+search_btn_label"}</a>
        </li>
        <input id="search-group-files" type="text" class="ow_group_files_list invitation" placeholder="{text key='iisgroupsplus+search_invitation'}" value="{if !empty($searchTitle)}{$searchTitle}{/if}">
    </ul>
    <table class="ow_table_1 ow_form ow_stdmargin group_files">
        <tr>
            <th>{text key="iisgroupsplus+name"}</th>
            <th>{text key="iisgroupsplus+by"}</th>
            <th>{text key="iisgroupsplus+created_date"}</th>
            <th></th>
        </tr>
        {foreach from=$fileList item='file' name='file'}
        <tr class="ow_alt2 ow_tr_first">
            <td class="file_name">
                <a class="fileGroupImage" href="{$file.fileUrl}" target="_blank">
                    <img src="{$file.iconUrl}" alt="{$file.fileName|escape}" title="{$file.fileName}" />
                </a>
                <a href="{$file.fileUrl}" target="_blank">{$file.truncatedFileName}  </a>
            </td>
            <td>
                <a href="{$file.userUrl}">{$file.userName}</a>
            </td>
            <td>
                {format_date timestamp=$file.createdDate}
            </td>
            {if isset($deleteUrls[$file.name])}
            <td class="delete_file">
                <a href="{$deleteUrls[$file.name]}" onclick="return confirm_redirect('{text key="iisgroupsplus+are_you_sure_delete_file"}','{$deleteUrls[$file.name]}');"><img src="{$deleteIconUrl}"/></a>
            </td>
            {else}
            <td></td>
            {/if}
        </tr>
        {foreachelse}
        <tr class="ow_alt2 ow_tr_first">
            <td colspan="5">
                <div class="ow_nocontent">{text key='iisgroupsplus+file_list_widget_empty'}</div>
            </td>
        </tr>
        {/foreach}
    </table>
    {$paging}
</div>
