<?xml version="1.0" encoding="utf-8"?>
<plugin>
    <name>گروه‌ها</name>
    <key>groups</key>
    <description>امکان ایجاد گروه‌های عمومی و خصوصی تعاملی میان کاربران و یا کانال‌های اطلاع‌رسانی حول موضوعات مختلف با امکاناتی همچون دعوت کاربران، بخش فایل‌ها، اطلاع‌رسانی نوشته‌های جدید، اتصال به انجمن و ...</description>
    <author>Oxwall Foundation</author>
    <authorEmail>plugins@oxwall.org</authorEmail>
    <authorUrl>http://www.oxwall.org/foundation</authorUrl>
    <developerKey>e547ebcf734341ec11911209d93a1054</developerKey>
    <build>10895</build>
    <copyright>(C) 2014 Oxwall Foundation. All rights reserved.</copyright>
    <license>The BSD License</license>
    <licenseUrl>http://www.opensource.org/licenses/bsd-license.php</licenseUrl>
    <category>
        <item>essential</item>
        <item>published</item>
    </category>
</plugin>
