<div class="clearfix">{add_content key='groups.add_content.list.top' listType=$listType}</div>

{if empty($hideCreateNew) && !empty($showCreate)}
    <div class="owm_box_heading_btns">
        <input type="button" id='btn-create-new-group' class="ow_ic_add owm-btn-create-new-group" style="border: none;" />
    </div>
    {if !empty($authMsg)}
        {script}
            $('#btn-create-new-group').click(function() { OW.authorizationLimitedFloatbox({$authMsg}); });
        {/script}
    {else}
        {script}{literal}
                $('#btn-create-new-group').click(function(){location.href='{/literal}{url_for_route for="groups-create"}{literal}'})
        {/literal}{/script}
    {/if}
{/if}

{$menu}

{add_content key='groups.content.list.after_menu' listType=$listType}

<div class="owm_group_list clearfix">
    {if isset($filterForm)}
    <div class="owm_list_search">
        {form name="GroupFilterForm"}
            {foreach from=$filterFormElementsKey item='elementKey'}
                        <span><b>{label name="$elementKey"}</b>
                                {input name="$elementKey"}
                        </span>
            {/foreach}
            {if isset($originalUrl)}
                {decorator name='button' iconClass="ow_ic_lens" id="searchFilter" onclick="searchGroup('{$originalUrl}');" langLabel='iisgroupsplus+search_btn_label'}
            {/if}
        {/form}
    </div>
    {/if}
    {if empty($list) }
    <div class="ow_nocontent">{text key="groups+listing_no_items_msg"}</div>
    {else}
        <div class="clearfix">
            {foreach from=$list key='key' item='group'}
                {decorator name='ipc' addClass='owm_list_item_with_image' data=$group infoString="<a href=\"`$group.url`\">`$group.title`</a>"}
            {/foreach}
        </div>
        <div class="clearfix">{$paging}</div>
    {/if}
</div>
<div class="clearfix">{add_content key='groups.add_content.list.bottom' listType=$listType}</div>