span.cke_button__ow_image_icon,
span.cke_button__ow_video_icon,
span.cke_button__ow_html_icon,
span.cke_button__ow_switchHtml_icon,
span.cke_button__ow_more_icon
{ background: url(../../base/css/wysiwyg.png) no-repeat 0 0; }

span.cke_button__ow_image_icon
{ background-position: -178px -2px;}
span.cke_button__ow_video_icon
{ background-position: -200px -2px;}
span.cke_button__ow_html_icon
{ background-position: -156px -2px;}
span.cke_button__ow_switchHtml_icon
{ background-position: -134px -2px;}
span.cke_button__ow_more_icon
{ background-position: -112px -2px;}


iframe.cke_wysiwyg_frame.cke_reset {
    height: 100% !important;
    max-height: initial !important;
}