<div id="iisadvancedsearch_search_users">
    <div class="owm_form_field_wrap clearfix">
        <div class="ow_left" style="width: 65%;"><input type="text" class="ow_text" placeholder="{text key='iisadvancesearch+search_username_realname'}" /></div>
        <div class="ow_right" style="display: inline;max-width: 35%;padding: 3px 0px;"><a class="owm_btn_class_2" href="{$toolbar.href}" style="font-size: 58%;">{$toolbar.label}</a></div>
    </div>
    <div class="owm_avatar_list iisadvancesearch_results"></div>
    <div class="ow_nocontent" style="display: none">{text key="base+no_items"}</div>
</div>