<div class="clearfix">
    <div class="place_section">
        <div class="ow_notifications_page ow_console">
            <div class="ow_nocontent OW_ConsoleListNoContent" style="display: none">{text key='base+empty_list'}</div>
            <ul class="ow_console_list OW_ConsoleList"></ul>
            <div class="ow_loadmore" style="text-align: center;">
                <div class="ow_preloader_content ow_console_list_preloader OW_ConsoleListPreloader" ></div>
                <div class="ow_loadmore_button" style="display: none">
                    {decorator name="button" class="ow_newsfeed_view_more ow_ic_down_arrow" langLabel="base+view_more_btn"}
                </div>
            </div>
        </div>
    </div>
</div>