{style}
{literal}
.ow_forgot_password{
    margin:0 auto;
    padding:100px;
    width:350px;
}
{/literal}
{/style}
<div class="ow_forgot_password">
    {block_decorator name='box' style='text-align:center;' langLabel='base+forgot_password_cap_label'}
        <div style="padding: 0 5px 5px;">{text key='base+forgot_password_form_text'}</div>
        {form name='forgot-password'}
            {input name='email' class='ow_smallmargin'}

            <div class="clearfix">
                {label name='captcha'}
                <span class="ow_value ow_center">{input name='captcha'}{error name='captcha'}</span>
            </div>

            <div class="clearfix"><div class="ow_right">{submit name='submit' class='ow_positive'}<span class="ow_button"><span class="ow_ic_house"><input onclick="window.location='{$homeUrl}'" type="button" value="{text key='base+back'}" class="ow_ic_house"></span></span></div></div>
        {/form}
    {/block_decorator}
</div>