<div class="owm_nav_cap owm_nav_cap_left_cont owm_bg_color_3 owm_border clearfix">
    <div class="owm_float_left">
        <a class="owm_nav_cap_left" href="javascript:window.history.back();"></a>
    </div>
    <h3> {text key="base+back"}</h3>
</div>
<div id="change-password-div" class="owm_full_page_form owm_edit_profile ow_superwide ow_automargin" >
    {form name="change-user-password" class='owm_padding'}
        <div class="owm_form_field_container">
            <div class="owm_form_field_wrap">
                <div class="owm_form_field_label">{label name='oldPassword'}</div>
                <div class="owm_form_field_value">{input name='oldPassword'}</div>
            </div>
            <div class="owm_error_txt">{error name='oldPassword'}</div>
        </div>
        <div class="owm_form_field_container">
            <div class="owm_form_field_wrap">
                <div class="owm_form_field_label">{label name='password'}</div>
                <div class="owm_form_field_value">{input name='password'}</div>
            </div>
            <div class="owm_error_txt">{error name='password'}</div>
        </div>
        <div class="owm_form_field_container">
            <div class="owm_form_field_wrap">
                <div class="owm_form_field_label">{label name='repeatPassword'}</div>
                <div class="owm_form_field_value">{input name='repeatPassword'}</div>
            </div>
            <div class="owm_error_txt">{error name='repeatPassword'}</div>
        </div>
        <div class="owm_form_field_container">
            <div class="owm_form_field_wrap">
                <div class="owm_form_field_label"></div>
                <div class="owm_form_field_value">{submit name='change'}</div>
            </div>
        </div>
    {/form}
</div>