{style}{literal}

{/literal}{/style}
{assign var="canQuote" value=!$topicInfo.locked && ($canEdit || $canPost)}

{foreach from=$postList item=post}
    <div class="owm_list_item_view {if $firstTopic->id == $post.id}owm_forum_post_topic{else}owm_forum_post_reply{/if} {if isset($iismenu_active)} iismenu-active {/if} clearfix" id="post-{$post.id} ">
        {add_content key="forum.before_post_add_content" postId=$post.id userId=$post.userId text=$post.text}
            <div class="owm_list_item_view_header clearfix">
                <div class="owm_list_item_view_header_img" style="border: none;">
                    {decorator name="avatar_item" url=$avatars[$post.userId].url src=$avatars[$post.userId].src label=$avatars[$post.userId].label labelColor=$avatars[$post.userId].labelColor}
                </div>
                <span class="owm_list_item_view_title">{$avatars[$post.userId].title}</span>
                <span class="owm_list_item_view_date">#{$post.number} {$post.createStamp}</span>
                {if ($isModerator || ($userId == $post.userId && !$topicInfo.locked)) && $post.id != $firstTopic->id}
                <div class="owm_card_header clearfix">
                    <div class="owm_view_more owm_float_right">
                        {component
                        class="FORUM_MCMP_ForumPostContextMenu"
                        topicId=$post.topicId
                        postId=$post.id
                        }
                    </div>
                </div>
                {/if}
            </div>
        <div class="owm_list_item_view_body">
            <div class="owm_list_item_view_body_text clearfix">
                {$post.text|more:400}

                {if $enableAttachments && isset($attachments[$post.id])}
                <div class="owm_attachments owm_padding">
                    {foreach from=$attachments[$post.id] item='attm'}
                    <div class="owm_attach_info clearfix">
                        <a href="{$attm.downloadUrl}" class="owm_attach_label {if !isset($attachmentIcons)}owm_attach_icon{/if}">
                            {if isset($attachmentIcons)}<img style="width: 20px;" src="{$attm.iconUrl}" alt="{$attm.fileName|escape}" title="{$attm.fileName}"/>{/if}
                            {$attm.fileName} <span>({$attm.fileSize}KB)</span>
                        </a>
                        <a href="{$attm.downloadUrl}" class="owm_attach_download owm_float_right" target="_blank"></a>
                    </div>
                    {/foreach}
                </div>
                {/if}

                {if !empty($post.edited) }
                <div class="owm_card_footer">
                    <div class="owm_post_action owm_padding owm_remark">
                        {text key='forum+post_edited'}
                        <a href="{$avatars[$post.edited.userId].url}">{$avatars[$post.edited.userId].title}</a> ({$post.edited.editStamp})
                    </div>
                </div>
                {/if}
            </div>
        </div>

        <div class="owm_list_item_view_footer">
            {if $firstTopicPost->id == $post.id}
            {assign var="socialSharing" value={add_content key="socialsharing.get_mobile_button" description=$post.text title=$topicInfo.title image='' buttonLabelKey="socialsharing+share_title" entityType="forum_topic" entityId=$post.topicId}}
            {else}
            {assign var="socialSharing" value=""}
            {/if}
            {assign var="showQuoteButton"  value=$canQuote && $post.userId != $userId}
            {assign var="showFlagButton"   value=$userId <> 0}
            {assign var="showShareButton"  value=$socialSharing <> ""}
            {if $showQuoteButton && $showFlagButton && $showShareButton}
                {assign var="buttonsClass" value="owm_card_toolbar_3b"}
            {else if ($showQuoteButton && $showFlagButton) || ($showFlagButton && $showShareButton) || ($showShareButton && $showQuoteButton) }
                {assign var="buttonsClass" value="owm_card_toolbar_2b"}
            {else}
                {assign var="buttonsClass" value="owm_card_toolbar_1b"}
            {/if}
            {assign var="buttonsClass" value="owm_card_toolbar_3b"}
            <ul class="{$buttonsClass} owm_padding owm_card_toolbar_btns owm_bg_color_3 clearfix forum_post_buttons_container" data-id="{$post.id}" data-type="{if $firstTopic->id == $post.id}{$topicEnityType}{else}{$postEnityType}{/if}">
                {if $showQuoteButton}
                <li class="owm_card_toolbar_quote">
                    <a href="#">
                        <input type="submit" value="{text key='forum+quote'}">
                    </a>
                </li>
                {/if}

                {if $showFlagButton}
                <li class="owm_card_toolbar_flag">
                    <a href="#">
                        <input type="submit" value="{text key='forum+flag'}">
                    </a>
                </li>
                {/if}

                {if $showShareButton}
                <li class="owm_card_toolbar_share">
                    {$socialSharing}
                </li>
                {/if}
            </ul>
        </div>

        {add_content key="forum.after_post_add_content" postId=$post.id userId=$post.userId text=$post.text}

        {if $firstTopic->id == $post.id}
        {add_content key='forum.topic.content.after_first_post'}
        {/if}
    </div>
{/foreach}

{script}
    $(document).ready(function()
    {
        // flag post
        $(".owm_card_toolbar_flag").bind("click", function(e)
        {
            e.preventDefault();
            OWM.flagContent($(this).parent().attr(
"data-type"), $(this).parent().attr("data-id"));
        });

        {if $canQuote }
            // quote post
            $(".owm_card_toolbar_quote").bind("click", function(e)
            {
                e.preventDefault();

                // show the post form
                OWM.ajaxFloatBox("FORUM_MCMP_ForumAddPost", [{ "topicId" : {$topicInfo.id}, "postId" : $(this).parent().attr("data-id") }],
                {
                    "title" : "{text key='forum+add_post_title'}"
                });
            });
        {/if}

        {if ($isModerator || ($userId == $post.userId && !$topicInfo.locked))}
            // delete post
            $(".forum_delete_post").bind("click", function(e)
            {
                e.preventDefault();

                if ( confirm("{text key='forum+delete_post_confirm'}") )
                {
                    $.post($(this).attr("href"), function(data)
                    {
                        var data = jQuery.parseJSON(data);

                        if (data.result === true && data.url)
                        {
                            location.href = data.url;
                        }
                    });
                }
            });

            // edit post
            $(".forum_edit_post").bind("click", function(e)
            {
                e.preventDefault();

                OWM.ajaxFloatBox("FORUM_MCMP_ForumEditPost", [{ "topicId" : "{$topicInfo.id}", "postId" : $(this).attr("data-id") }],
                {
                    "title" : "{text key='forum+edit_post_title'}"
                });
            });
        {/if}
    });
{/script}
