<div class="owm_forum_edit_topic_win owm_bg_color_1">
    {form name="topic_edit_form"}  
        <div class="owm_forum_topic_nav">
            <div class="owm_forum_topic_title owm_bg_color_1">
                {input name="title"}
                <div class="owm_error_txt">
                    {error name="title"}
                </div>
            </div>
        </div>
        <div class="owm_forum_topic_body owm_bg_color_1">
            <div class="owm_forum_topic_input">
                <div class="ow_inline owm_inline">
                    {input name="text"}
                </div>
            </div>
            <div class="owm_error_txt">
                {error name="text"}
            </div>
        </div>
        <div class="owm_forum_topic_bottom owm_border owm_forum_topic_submit owm_padding owm_bg_color_1 clearfix">
            <div class="owm_float_right owm_forum_topic_submit">
                {submit name="save"}
            </div>
            {if $enableAttachments}
                {script}
                $( document ).ready(function()
                {
                    var forumEditTopicAttachments = new ForumAttachments({
                    "attachmentUid"        : "{$attachmentUid}",
                    "attachmentsWrapper"   : $('#forum_edit_topic_attachments'),
                    "attachDefaultTitle"   : $("#forum_edit_topic_attach_default_title"),
                    "firstAttachName"      : $("#forum_edit_topic_first_attach_name"),
                    "clearFiles"           : $("#forum_edit_topic_clear_files"),
                    "attachNewFiles"       : $("#forum_edit_topic_attach_files"),
                    "attachNewFile"        : $("#forum_edit_topic_attach_file"),
                    "deleteAttachmentsUrl" : "{url_for_route for='forum_delete_attachment'}"
                });

                {if !empty($attachments)}
                    forumEditTopicAttachments.renderUploadedAttachments({$attachments});
                {/if}
                });
                {/script}
                <div class="owm_padding owm_forum_topic_attach_info owm_newsfeed_status_update_attachments_btn owm_float_right">
                    {decorator name="button" langLabel="forum+add_files" id="forum_edit_topic_attach_files"}
                    <!--<label id="forum_edit_topic_attach_file" class="owm_attach_label owm_topic_attach_icon">-->
                        <!--<div id="forum_edit_topic_attach_default_title" class="owm_inline">{text key='forum+attach_files'}</div>-->
                        <!--<div id="forum_edit_topic_first_attach_name" class="owm_inline" style="display: none"></div>-->
                    <!--</label>-->
                </div>
            {/if}
        </div>
        <div id="forum_edit_topic_attachments" class="owm_attach_win owm_forum_attach_win owm_padding owm_bg_color_1">
            {$attachmentsCmp}
            <!--<div class="owm_padding owm_btn_wrap">-->
            <!--{decorator name="button" langLabel="forum+clear_all" id="forum_edit_topic_clear_files"}-->
            <!--</div>-->
        </div>
    {/form}
</div>