<div class="owm_search_field clearfix">
    {form name="search_form" id="quick_forum_search_form"}
        <span class="owm_search_field_icon"></span>
        {input name="keyword" class="owm_invitation" id="forum_search_cap" readonly="readonly"}
    {/form}
</div>
<div style="display:none">
    <div id="forum_search_wrapper" class="owm_search_wrap">
        <form action="{$location}" method="get">
            <div class="owm_search_field clearfix">
                <textarea name="q"></textarea>
            </div> 
            <div class="owm_padding clearfix" style="margin: 7px 3px">
                <a href="{url_for_route for='forum_advanced_search'}" class="owm_forum_advanced_search_btn owm_float_left owm_lbutton">
                    <span>{text key="forum+advanced_search"}</span>
                </a> 
                <div id="owm_forum_search_btn" class="owm_float_right">
                    <input type="submit" value="{text key="forum+search"}" />
                </div>
            </div>
        </form>
    </div>
</div>

{script}
    /**
     * Show the float search form
     */
    $("#quick_forum_search_form").bind("click", function() 
    {
        OWM.FloatBox({ 
            "title" : "{$invitation}",
            "content" : $("#forum_search_wrapper")
        });
    });
{/script}