{style}
{literal}

.ow_about_me_widget {
    padding: 5px 4px 10px;
    overflow: hidden;
}

{/literal}
{/style}

{script}
{literal}
    $(document).ready(function(){
        $('#edit_form_button').on('click', function(){
            $('#edit-about-me').show();
            $('#static-about-me').hide();
        });
    });
{/literal}
{/script}


<div class="ow_highbox ow_about_me_widget">
    {if $ownerMode}
        <div id="static-about-me" class="ow_center">
            {$contentText|prettify}
            <a id="edit_form_button" href="javascript:">
                <img class="ow_ic_edit" style="width: 20px;height: 20px;float: left;margin-top: 15px;">
            </a>
        </div>
        <div id="edit-about-me" class="ow_center" style="display: none;">
            {form name="about_me_form"}
                <div class="form_auto_click"> 
                    <div class="ow_smallmargin">
                        {input name="about_me"}
                    </div>
                    <div class="{if $noContent}ow_submit_auto_click{/if}">
                        {submit name="save"}
                    </div>
                </div>
            {/form}
        </div>
    {else if $contentText}
        {$contentText|prettify}
    {/if}

</div>