{* Tags search view file `BASE_CMP_TagSearch` *}
{if isset($isMobile)}
	{block_decorator name='box'}
	<form id="{$form_id}">
		<input type="text" id="{$el_id}" placeholder="{text key=$lang_label}"/>
	</form>
	{/block_decorator}
{else}
{block_decorator name='box' addClass='ow_stdmargin' iconClass='ow_ic_tag' langLabel=$lang_label}
	<form id="{$form_id}">
   	<input type="text" id="{$el_id}"/>
   </form>

    {if isset($show_tag_cloud)}
    <div class="news_widget">
        {$tagCloud}
    </div>
    {/if}
{/block_decorator}
{/if}
